/* https://paddle8.com/work/ellsworth-kelly/78782-color-squares-4/ */
*{
cursor: url(images/star.cur), auto;
}
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
}


/* Divs */
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.col {
	height: 100%;
	width: calc(100%/3);
}
.block{
	display: block;
}

/* Colors */
.blue {
	background-color: #6CADFF;
}

.yellow {
	background-color: #FFEC6B;
}

.opaque {
	opacity: 0.5;
}
.red {
	background-color: #FF666D;
}
.pink{
	background-color: #FFACB2;
}
.green {
	background-color: #CBFFBA;
}
.purple {
	background-color: #706BE8;
}
/* Images*/
.restrict-img-size {
	max-height: 75%;
	max-width: 75%;
	border-radius: 20%;
}
.trophy {
	content: url("images/lombardi_trophy.jpg");
}

.con{
	background-image: url(images/confetti.gif);
}

/*Text*/
@font-face{
	font-family: text;
	src: url(fonts/text.otf);
}
h1{
	color: white;
	font-size: 70px;
	font-family: text;
}

.hidden{
	color: white;
}
.pastel-green{
	color: #AFFFA8;
}
.pastel-red{
	color: #FF666D;
}
.pastel-purple{
	color: #706BE8;
}